/** ESTRUCTURA */

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cols50>.col {
    flex-basis: 50%;
}

.cols50>.col {
    flex-basis: 50%;
}

.cols25>.col {
    flex-basis: 25%;
}

.col {
flex-grow: 1;
flex-shrink: 1;
text-align: center;
}

#preserv {
    width: 100%;
    padding: .25rem .25rem;
}

#extrapantalla {
    flex-grow:2;
    flex-shrink: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#pantalla {
    // width: 100%;
    width: calc(95%);
    align-self: center;
}

button.col {
    padding: 3vh 2vh;
    margin: 1vh;
}

#teclat {
    margin: auto;
    max-width: 575px;
    min-height: 100vh;
}
