// tipos
$font-family-monospace: 'Roboto Mono', monospace;

// colores
$color0: #d1d8e0;
$color1: #a5b1c2;
$color1h: #d1d8e0;
$color2: #4b6584;
$color2h: #778ca3;
$color3: #20bf6b;
$color3h: #26de81;
$color4: #eb3b5a;
$color4h: #fc5c65;
